.text {
    color: #fafafa;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #000000;
    margin-bottom: 160px;
}

.flashes h4 {
    line-height: 2;
    padding: 1px;
}

nav {
    border-bottom: 1px solid #fafafa;
}

.card 
.card-action {
    padding: 5px;
}

.slider 
.slides 
li 
.caption {
    top: 82%;
    left: 5%;
}

.slider 
.slides 
li
.caption-2 {
    top: 3%;
    left: 5%;
}

.slider 
.slides 
li
.caption-4 {
    top: 1%;
    left: 45%;
}

h5 {
    margin: 5px;
}

h3 {
    margin: 10px;
}

p {
    margin: 10px;
}

.row {
    margin-bottom: 0;
}

.register-btn {
    margin: 15px;
}

.header {
    margin: 20px;
}

.game-container {
    margin: auto;
    text-align: center;
}

.row 
.col {
    padding: 3px;
}

.card 
.card-image 
img {
    padding: 5px;
}

.card {
    margin: 0;
}

.card-panel {
    padding: 15px;
}



.card
.card-content {
    padding: 5px;
}

h2 {
    margin: 0;
}

.card 
.card-image 
img {
    height: 200px;
}

.more-games-btn {
    margin: 40px;
}

#games {
    margin-bottom: 50px;
}

.game-card {
    margin: 30px 0 30px 0;
    border: 1px solid #fafafa;
}

#card-image {
    height: 400px;
    padding: 10px;
}

.game-info {
    margin: 15px 0 15px 0;
}

.btn-container
a {
    margin: 15px;
}

.back-btn {
    margin: 40px;
}

.submit-btn {
    margin: 15px 0 15px 0;
}

.modal {
    border: 1px solid #fafafa;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    background-color: #f5f5f5;
}

.page-footer {
    border-top: solid 1px #fafafa;
    margin-top: 40px;
}

#links {
    text-align: end;
}

/* media queries */

@media (max-width: 992px) {

}

@media (max-width: 576px) { 
    .slider {
        height:370px !important;
    }   
    .slides {
        height:370px !important;
    }
    #card-image {
        height: 300px;
        padding: 10px;
    }
    .modal {
        margin: auto !important;
        width: 90%;
    }
    #links {
        text-align: left;
    }
    #footer {
        height: 245px;
    }
}
