.text {
    color: #fafafa;
}

body {
    background-color: #000000;
}

.flashes h4 {
    line-height: 2;
    padding: 1px;
}

nav {
    border-bottom: 1px solid #fafafa;
}

.main-image {
    position: relative;
    width:70%;
    height:500px;
    margin: auto;
    text-align: center;
}

img {
    width:100%;
    height:100%;
}

.top-left {
    position: absolute;
    top: 100px;    
}

.register-btn {
    margin: 20px;
}

.row {
    margin-bottom: 0;
}

.header {
    color: rgba(83, 82, 82, 1);
    margin: 40px;
    letter-spacing: 3px;
}

.game-container {
    margin: auto;
    text-align: center;
    width: 80%;
}

.game-img {
    height: 180px;
    border-radius: 30px;
    padding: 0;
}

p {
    margin: 10px 0 30px 3px;
}

.more-games-btn {
    margin: 40px;
}

/* media queries */

@media (max-width: 992px) {
    .main-image {
        width: 100%;
        height: 450px;
    }

    .top-left {
        top: 80px;
    }
}

@media (max-width: 576px) {
    .main-image {
        position: static;
        width: 100%;
        height: 375px;
    }

    .top-left {
        border-bottom: 1px solid #fafafa;
        border-top: 1px solid #fafafa;
        position: static;
    }

    .header {
        margin: 25px;
        letter-spacing: 2px;
    }
}
