{% extends "base.html" %}
{% block home_content %}
    <!-- main image -->
    <div class="main-image">
        <img src="https://i.redd.it/m0tjpazeuj611.jpg" alt="">        
    </div>

    <!-- Information text overlapping image -->
    <div class="row">
        <div class="col s12 m5 offset-m1 l4 offset-l2 top-left white-text center-align">
            <h4>Welcome To Game Review</h4>
            <p class="white-text">
                THIS SITE IS DESIGNED FOR PEOPLE WHO LOVE PLAYING
                VIDEOGAMES. HERE YOU CAN CHECK OUT THE MOST
                POPULAR AND ROCOMMENDED GAMES,
                BY YOU!
                ARE IN THE WORLD RIGHT NOW!
            </p>
            <ul>
                <li class="white-text">
                    Sign up today
                </li>
                <li class="white-text">
                    Leave reviews and tips on your favourite games
                </li>
                <li class="white-text">
                    See what other gamers are saying
                </li>
                <li class="white-text">
                    Connect with others
                </li>
            </ul>
            <!-- register button -->
            <div class="row center-align">
                <button class="btn waves-effect red darken-3 register-btn" type="submit" name="action">
                    Register
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>

    <!-- game catergory title -->
    <div class="container">
        <div class="row">
            <h2 class="center-align header">Most popular games</h2>
        </div>


        <!-- game tiles -->

    <div class="row center-align">
        <button class="btn waves-effect red darken-3 more-games-btn" type="submit" name="action">
            More Games
            <i class="material-icons right">send</i>
        </button>
    </div>


{% endblock %}
